/* ProfilePage.css */

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.input {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.importExportButtons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.groupTitle {
    font-size: 20px;
    cursor: pointer;
}

.highlightedGroup {
    font-size: 20px;
    cursor: pointer;
    color: blue;
}

.exerciseList {
    padding-left: 10px;
}

.exerciseCard {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
