/* TrainingPage.css */


/* Group header style */
.groupHeader {
    display: flex;
    align-items: center;
    max-width: 200px; /* 控制每行的寬度 */
    padding: 5px 0;
}

/* Group title style */
.groupTitle {
    font-size: 20px;
    margin-right: 10px;
}

/* Button style */
.button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; /* 讓按鈕自然靠右 */
}


.highlightedGroup {
    font-size: 20px;
    cursor: pointer;
    color: blue;
}

.exerciseList {
    padding-left: 10px;
}

.exerciseCard {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.trainedExercise {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: #aaa;
}

.finishButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

